@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    transition: .3s ease;
}


:root{
  --color-main: #F7F0EB;
	--color-text-light: #FFFFFF;
  --color-dark: #392F2B;
	--gradient: linear-gradient(89deg, #C55B2B 0%, #DA893E 91.14%);
	--color-grayish: #968B7B;
    
}