@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
:root{
    --color-main: #F7F0EB;
      --color-text-light: #FFFFFF;
    --color-dark: #392F2B;
      --gradient: linear-gradient(89deg, #C55B2B 0%, #DA893E 91.14%);
      --color-grayish: #968B7B;
      
  }
} */